/* 
color_h4 #FCF9F9 GRIS
color_h3 #F1F864 AMARILLO
color_h2 #BCEB3C VERDE CLARO
color_h1 #7CBD1E VERDE OSCURO

font-family: 'Montserrat', sans-serif; TEXTO
font-family: 'Quicksand', sans-serif; TITULOS

*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #666;
    background-color: #FCF9F9;
}
h1,
h2,
h3,
h4{
    color: #7CBD1E;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
p{
    text-align: justify;
}
.navbar{
    background-color: transparent;
}
.dropdown-menu{
    background-color: transparent;
}
/* nav{
    text-align: center;
    align-items: center;
} */
.logo{
    width: 30px;
}
.logo-titulo{
    color: #333;
    margin-left: 5px;
}
.main{
    margin: 20px;
}
.pano-image, 
.cocina{
    width: 400px;
    height: 200px;
    margin: 1em;
}
.modal-dialog{
    max-width: 85%;
    height: auto;
}
.img-cocina{
    width: 300px;
}