/* 
color_h4 #FCF9F9 GRIS
color_h3 #F1F864 AMARILLO
color_h2 #BCEB3C VERDE CLARO
color_h1 #7CBD1E VERDE OSCURO

font-family: 'Montserrat', sans-serif; TEXTO
font-family: 'Quicksand', sans-serif; TITULOS

*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #666;
    background-color: #FCF9F9;
    margin-bottom: 100px;
}
h1,
h2,
h3,
h4{
    color: #7CBD1E;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.carousel-caption > h5{
    color: #BCEB3C;
    text-align: center;
    font-size: 7em;
    text-shadow: 2px 2px 2px #333;
    background-color: rgba(0,0,0,0.6);
}
.carousel-caption > p{
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 2px #333;
    background-color: rgba(0,0,0,0.6);
}
p{
    text-align: justify;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #FCF9F9;
}
.dropdown-menu{
    background-color: #FCF9F9;
}
/* nav{
    text-align: center;
    align-items: center;
} */
.logo{
    width: 30px;
}
.logo-titulo{
    color: #333;
    margin-left: 5px;
}
h1{
    display: none;
}
.carrousel{
    height: 50%;
}
#empresa{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pano-image, 
.cocina{
    height: 210px;
    margin: 1em;
}
.img-cocina{
    width: 300px;
}
footer {
    background-color: #7CBD1E;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
footer > h2{
    color: white;
}
footer > p{
    font-size: smaller;
    text-align: center;
    margin: 0px;
}
footer > p > a{
    text-decoration: none;
    color: white;
}
footer > p > a:hover{
    text-shadow: 1px 1px 1px #333;
    color: white;
}
.galeria{
    margin: 1rem auto;
    width:100%;
    column-count: 3;
}
small{
    color: #BCEB3C;
    text-shadow: 1px 1px 1px #333;
}
.carousel-caption {
    bottom: 30rem;
}
@media only screen and (max-width: 600px){
    .galeria{
        column-count: 2;
    }
    .carousel-caption {
        bottom: 1rem;
    }
    .carousel-caption > h5{
        font-size: 2em;
    }
    .carousel-caption > p{
        font-size: 1em;
    }
}
